.playBtn {
  @apply w-[50px]
         h-[50px] 
         grid 
         place-items-center 
         rounded-[50%] 
         transition-all
         bg-[#e9d0fa]
         min-[500px]:w-[70px]
         min-[500px]:h-[70px];
}

.playBtn:hover {
  @apply bg-[#9634e2];
}

.playBtn:hover svg {
  fill: #fff;
}

.listItem {
  @apply text-[#9634e2] text-base min-[500px]:text-xl;
}

.listItem:not(:last-child) {
  @apply mb-[15px];
}

.speach {
  @apply relative 
         mb-[35px] 
         overflow-hidden 
         text-3xl 
         font-bold 
         text-[#2f2f2f] 
         transition-all 
         before:absolute 
         before:top-1/2 
         before:left-[150px] 
         before:w-[100%] 
         before:h-[1px] 
         before:bg-[#ccc] 
         before:translate-y-[-50%];
}
